@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Silkscreen:wght@400;700&display=swap');
body{
    background-color: #ff00ab;
    font-family: "Silkscreen", sans-serif;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    width: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#heartText{
    position: absolute;
    width: 140px;
    margin-top: -20px;
}
#img{
    width: 300px;
    height: 300px;
}
.msg{
    margin: 0;
    display: none;  
    transition: all 4s linear;
}
#counter{
    font-size: 75px;
    margin: 0;
    transition: 2s;
}
.visible{
    display: block;
}
.heart{
    animation-name: heartBeat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function:ease-in-out;
}
@keyframes heartBeat {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}