@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Silkscreen:wght@400;700&display=swap');
body{
    background-color: #ff00abc2;
    font-family: "Silkscreen", sans-serif;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    position: relative;
    width: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#heartText{
    position: absolute;
    width: 140px;
    margin-top: -20px;
}
#img{
    width: 300px;
    height: 300px;
}
.msg{
    margin: 0;
    display: none;  
    transition: all 1s linear;
}
#counter{
    font-size: 28px;
    transform:scale(3);
    margin: 0;
}
.visible{
    display: block;
}
.heart{
    animation: heartBeat 1s ease-in-out infinite alternate;
}
#aud{
    display: none;
}
.click{
    font-family: Arial, Helvetica, sans-serif;
    color : #81056a;
    margin-top: 20px;
    font-size: 40px;
    opacity: 0;
}
.red{
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: -1;
    animation: ascend 5s linear ;
}
@keyframes heartBeat {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
@keyframes ascend {
    0%{
        transform: translate(2px,-82px);
    } 
    10%{
        transform: translate(-2px,-164px);
    }
    20%{
        transform: translate(2px,-246px);
    }
    30%{
        transform: translate(-2px,-328px);
    }
    40%{
        transform: translate(2px,-410px);
    }
    50%{
        transform: translate(-2px,-492px);
    }
    60%{
        transform: translate(2px,-574px);
    }
    70%{
        transform: translate(-2px,-656px);
    }
    80%{
        transform: translate(2px,-738px);
    }
    90%{
        transform: translate(-2px,-820px);
    }
    100%{
        transform: translate(2px,-902px);
    }
    
}